

<h1 class="text-center mt-4 ">Listing all Articles</h1>
<% @articles.each do |article| %>
  <%= render "articles/article", article: article %>
<% end %>

<div>
  <p>
    <%= link_to "Create new Article", new_article_path %>
  </p>
</div>


<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Title</th>-->
<!--      <th>Description</th>-->
<!--      <th>Actions</th>-->
<!--    </tr>-->

<!--  </thead>-->
<!--  <tbody>-->
  <%# @articles.each do |article| %>
<!--    <tr>-->
<!--      <td><%#= article.title %></td>-->
<!--      <td><%#= article.description %></td>-->
<!--      <td><%#= link_to  "Show", article_path(article.id), method: :get %></td>-->
<!--      <td><%#= link_to  "Edit", edit_article_path(article.id), method: :get %></td>-->
<!--      <td><%#= link_to  "Delete", article_path(article.id), method: :delete, data: {confirm: "Are you sure?"} %></td>-->

<!--    </tr>-->
  <%# end %>
<!--  </tbody>-->
<!--</table>-->
